# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. dplyer
3. caret

| Data Science Tools |
|------------------- |
| Apache Spark
| Watson Studio
| Matlab

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Jupyter Notebook
- R & R STUDIO
- Git & Git Commands

## Author 
Hamza